DB_LOCATION="/tmp/aperture-db"
UPLOADS_LOCATION="/tmp/aperture-uploads"
PORT="4050"
USE_ORCID_SANDBOX=1 # Remove this to use production ORCID APIs
ORCID_CLIENT_ID="<client-id>"
ORCID_CLIENT_SECRET="<client-secret>"
